:root {
  // DARKMODE
  --bg-dark: #2c3d53;
  --font-dark: rgb(230,230,230);
  --primary-dark: #1d262e;

  // LIGHTMODE
  --font: rgb(15,15,15);


  --bg-gradient: linear-gradient(0deg, #0e961b 0%, 5%, var(--bg-dark) 40%);
}

html {
  background: var(--bg-dark);
  scroll-behavior: smooth;
} 

body > * {
  margin: 0;
  padding: 0;
  background-image: var(--bg-gradient);
}

button:disabled {
  &:hover {
    cursor: not-allowed;
  }
}